
<form action="/add" method="post">

    <div class="labinp">
        <label for="item">item</label>
        <input type="text" id="item" name="item"><br>
    </div>
    <div class="labinp">
        <label for="cost">cost</label>
        <input type="number" id="cost" name="cost"><br>
    </div>
    <div class="labinp">
        <label for="date">date</label>
        <input type="date" id="data" name="date"><br>
    </div>
    <div class="labinp">
        <input type="submit" value="submit">
    </div>

</form>
